# System Folders
Mi música/
Mis imágenes/
Mis vídeos/
desktop.ini

# Virtual Environment
.venv/
env/
venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large Data Files
datos/qog/qog_std_ts_jan24.csv