version: '3.8'

services:
  # ---------------------------------------------------------------------------
  # Database Service: PostgreSQL
  # ---------------------------------------------------------------------------
  postgres:
    image: postgres:15-alpine
    container_name: tf_postgres
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-trabajo_final}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Mount the sql file to initialize the database automatically if needed
      - ./import_data.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - tf_network

  # ---------------------------------------------------------------------------
  # Spark Master
  # ---------------------------------------------------------------------------
  spark-master:
    image: bitnami/spark:3.5
    container_name: tf_spark_master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    ports:
      - '8080:8080' # Spark Master UI
      - '7077:7077' # Spark Master Port
    volumes:
      - .:/opt/bitnami/spark/trabajo_final
    networks:
      - tf_network

  # ---------------------------------------------------------------------------
  # Spark Worker
  # ---------------------------------------------------------------------------
  spark-worker:
    image: bitnami/spark:3.5
    container_name: tf_spark_worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    depends_on:
      - spark-master
    volumes:
      - .:/opt/bitnami/spark/trabajo_final
    networks:
      - tf_network

volumes:
  postgres_data:


networks:
  tf_network:
    driver: bridge
